@keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
  
  .app-brand-text {
  
    background: linear-gradient(to right, #ff0000 20%, #ff0000 40%, #ff0000 60%, #ff0000 80%);
    background-size: 200% auto;
  
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3.5s linear infinite;
  }


  ::selection {
    background-color: #ff0000; /* Cor de fundo da seleção */
    color: #ffffff; /* Cor do texto selecionado */
}

input:focus {

  outline: none; /* Remover contorno padrão do navegador */
}